main {
  font-size: 21px;
  padding: 5% 5%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

#page {
  width: 100%;
  background-color: #fff;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0 0 25px 0 white;
}

.contacts,
.stack {
  display: flex;
  grid-gap: 15px;
  flex-direction: column;
}
.contacts div,
.stack div {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}
.contacts img,
.stack img {
  width: 21px;
  height: 21px;
}

.work,
.education {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}
.work div,
.education div {
  grid-gap: 15px;
}
.work img,
.education img {
  width: 21px;
  height: 21px;
}
.work li,
.education li {
  font-size: 18px;
  margin: 2.5% auto 2.5% 60px;
}

.tech {
  display: flex;
  flex-direction: column;
  align-self: start;
}
.tech div {
  align-self: start;
}
.tech ul {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}
.tech ul li {
  font-size: 16.8px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  margin-left: 40px;
}
.tech ul li img {
  width: 16.8px;
  height: 16.8px;
}